/* TOES DB MAIN STYLES */

html {
	background: #666;
}

body {
	min-width: 630px;
	
	margin: 0;
	padding: 0;
	
	background: #333;
	
	
}

.body-login, .body {
	position: absolute;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
	top: 2px;
	bottom: 2px;
	right: 2px;
	left: 2px;
	
	margin: 0;
	padding: 0;
	
	background: #333;
}
.body {
	display: block;
	padding: 1em;
}

.hide {
	display: none;
}

#login {
	font-size: 2em;
	color: #aaa;
	text-shadow: 1px 1px 0px #000;
	
	width: 400px;
	
	border: 1px solid #000;
	border-radius: 10px;
	background: #444;
	padding: 10px;
}

input, select {
	font-size: 18px;
	border-width: 1px;
	border-radius: 6px;
	border-color: #000;
	padding: 2px 8px;
	background: #888;
}

#login select {
	width:  220px;
}

#login [type=button] {
	background:	#900;
	color: #ddd;
}

#login_err {
	text-align: center;
	color: #f00;
	height:  30px;
}

#db_choices_radio .ui-button {
	vertical-align: top;
	margin-right: -.4em;
}

#db_choices_radio .ui-corner-left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 0px;
}

#db_choices_radio .ui-corner-right {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0px;
}

#db_years {
	font-size: 28px;
	margin: -1px 0 0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.page {
	background: #444;
	border: 1px solid #000;
	color: #ada;
	border-radius: 6px;
	border-top-left-radius: 0px;
	vertical-align: top;
	margin: 0;
	padding: 1em;
	min-height: 200px;
	z-index: 2;
	position: relative;
}


/**** JQ-UI TWEAKS ****/

.ui-state-default {
	background: #4D4D4D;
	color: #1c94c4;
}

.ui-state-active {
	background: #888;
	color: #333;
	border-color: #ada;
}

.autocomplete-suggestions {
	overflow: auto;
	border: 1px solid #fc0;
	background: #ff0;
	font-size: 18px;
	border-radius: 6px;
} 
.autocomplete-suggestion {
	overflow: hidden;
	padding: 5px 15px;
	white-space: nowrap;
} 
.autocomplete-selected { background:#F0F0F0; } 
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; } 
.autocomplete-suggestions strong {
	color: #a0f;
	font-weight: 500;
}
